<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>left is right.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A5CB0D6D2216D5A20022F5FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5CB0D872216D5A40022F5FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5CB0D922216D5A40022F5FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
